
/* WuX-UI Layout-Grid [Customize] */

$grid-size-name: xs, sm, md, lg, xl;
$grid-col-count: 12;

// Ex. row col-xs-6 col-xs-6
$grid-col-map: (
  "1": 8.333333%,
  "2": 16.666667%,
  "3": 25%,
  "4": 33.333333%,
  "5": 41.666667%,
  "6": 50%,
  "7": 58.333333%,
  "8": 66.666667%,
  "9": 75%,
  "10": 83.333333%,
  "11": 91.666667%,
  "12": 100%
);

// Ex. row-xs-2 col col
$grid-row-map: (
  "1": 100%,
  "2": 50%,
  "3": 33.333333%,
  "4": 25%,
  "5": 20%,
  "6": 16.666667%,
  "7": 14.285714%,
  "8": 12.5%,
  "9": 11.111111%,
  "10": 10%,
  "11": 9.090909%,
  "12": 8.333333%
);

$grid-size-map: (
  xs: 0,
  sm: 600px,
  md: 1024px,
  lg: 1440px,
  xl: 1920px, 
);