
/* WuX-UI Components-Alert [Customize] */

/*Layout*/
$alert-border-radius: 8px;
$alert-border-width: 4px;
$alert-padding: 16px;
$alert-margin: 2px;

/*Solid*/
/*Color-Degree*/
$alert-background-degree: 500;
$alert-border-degree: 600;

$alert-background-color-map: (
	primary: map.get($color-primary-map, #{$alert-background-degree}),
 	secondary: map.get($color-secondary-map, #{$alert-background-degree}),
 	success: map.get($color-success-map, #{$alert-background-degree}),
 	info: map.get($color-info-map, #{$alert-background-degree}),
 	warning: map.get($color-warning-map, #{$alert-background-degree}),
 	error: map.get($color-error-map, #{$alert-background-degree}),
 	light: map.get($color-light-map, #{$alert-background-degree})
);

$alert-border-color-map: (
	primary: map.get($color-primary-map, #{$alert-border-degree}),
 	secondary: map.get($color-secondary-map, #{$alert-border-degree}),
 	success: map.get($color-success-map, #{$alert-border-degree}),
 	info: map.get($color-info-map, #{$alert-border-degree}),
 	warning: map.get($color-warning-map, #{$alert-border-degree}),
 	error: map.get($color-error-map, #{$alert-border-degree}),
 	light: map.get($color-light-map, #{$alert-border-degree})
);

$alert-text-color-map: (
	primary: func-text-color($alert-background-degree),
 	secondary: func-text-color($alert-background-degree),
 	success: func-text-color($alert-background-degree),
 	info: func-text-color($alert-background-degree),
 	warning: func-text-color($alert-background-degree),
 	error: func-text-color($alert-background-degree),
 	light: func-text-color($alert-background-degree)
);