
/* WuX-UI Components-Badge */

$badge-font-size: 10px;
$badge-padding: 4px;
$badge-background-color: #FF2222;
$badge-text-color: #FFFFFF;

// -------------------- Dark Mode --------------------
$badge-background-color-dark: #FF4444;
$badge-text-color-dark: #FFFFFF;

// -------------------- CSS Variables ------------------
:root {
	--badge-font-size: #{$badge-font-size};
	--badge-padding: #{$badge-padding};
	--badge-background-color: #{$badge-background-color};
	--badge-text-color: #{$badge-text-color};
}

@mixin badge-dark {
	--badge-background-color: #{$badge-background-color-dark};
	--badge-text-color: #{$badge-text-color-dark};
}

@media (prefers-color-scheme: dark) {
	:root {
		@include badge-dark;
	}
}

[dark-mode],
body.#{$prefix}dark-mode {
	@include badge-dark;
}
