
/* WuX-UI Components-Blankslate [Customize] */

$blankslate-width: 80%;

$blankslate-title-font-size: 24px;
$blankslate-title-text-color: #000000;

$blankslate-subtitle-font-size: 14px;
$blankslate-subtitle-text-color: #666666;

$blankslate-icon-size: 72px;
$blankslate-icon-border-radius: 12px;