
/* WuX-UI Components-Breadcrumb [Customize] */

$breadcrumb-content: quote("/");
$breadcrumb-background-color: rgb(240,240,240);
$breadcrumb-border-radius: 12px;
$breadcrumb-font-size: 14px;
$breadcrumb-padding-x: 8px;
$breadcrumb-padding-y: 12px;
$breadcrumb-padding-item-x: 6px;
$breadcrumb-margin-bottom: 2px;
