
/* WuX-UI Components-Card [Customize] */

$card-border-color: rgb(200,200,200);
$card-border-radius: 8px;
$card-border-width: 1px;
$card-background-color: white;
$card-text-color: rgb(25,25,25);
$card-margin: 2px;
$card-body-padding: 4px;
$card-body-font-size: 16px;
