
/* WuX-UI Components-Dialog [Customize]*/

$dialog-border: none;
$dialog-border-radius: 12px;
$dialog-padding: 24px;
$dialog-shadow: none;

$dialog-backdrop-blur: none;
$dialog-backdrop-color: rgba(50,50,50,0.95);

$dialog-header-text-color: #AAAAAA;

$dialog-body-padding-x: 0;
$dialog-body-padding-y: 8px;
$dialog-body-font-size: 16px;

$dialog-footer-group-float: right;