
/* WuX-UI Components-Form-Radios */

$form-radios-border-width: 2px;
$form-radios-border-color: #ABABAB;
$form-radios-border-radius: 9999px;
$form-radios-hover-background-color: #FFFFFF;
$form-radios-hover-shadow: 0px 0px 1px 2px #DDDDDD;
$form-radios-checked-background-color: white;
$form-radios-checked-border-width: 5px;
$form-radios-checked-border-color: map.get($color-primary-map, "500");
$form-radios-checked-shadow: none;