
/* WuX-UI Components-Form-Input [Customize] */

$form-input-background: #FFFFFF;
$form-input-text-color: #000000;
$form-input-border-color: #CCCCCC;
$form-input-border-width: 2px;
$form-input-border-radius: 12px;
$form-input-margin-bottom: 4px;

$form-input-hover-background: #FFFFFF;
$form-input-hover-border-color: #CCCCCC;
$form-input-hover-border-width: 2px;
$form-input-hover-text-color: #000000;
$form-input-hover-shadow: 0 0 6px #DDDDDD;

$form-input-focus-background: #FFFFFF;
$form-input-focus-border-color: map.get($color-primary-map, "500");
$form-input-focus-border-width: 2px;
$form-input-focus-text-color: #000000;
$form-input-focus-shadow: 0 0 6px #DDDDDD;

$form-input-invalid-background: #FFFFFF;
$form-input-invalid-border-color: map.get($color-error-map, "500");
$form-input-invalid-border-width: 2px;
$form-input-invalid-text-color: map.get($color-error-map , "500");
$form-input-invalid-shadow: 0 0 6px map.get($color-error-map , "200");

$form-input-disabled-opacity: 50%;

$imported-size: xs, sm, md, lg, xl;

$form-input-padding-x-map: (
	xs: 6px,
	sm: 8px,
	md: 12px,
	lg: 16px,
	xl: 20px
);

$form-input-padding-y-map: (
	xs: 4px,
	sm: 6px,
	md: 10px,
	lg: 14px,
	xl: 18px
);

$form-input-font-size-map: (
	xs: 10px,
	sm: 12px,
	md: 14px,
	lg: 16px,
  xl: 18px
);

// border-radius
$form-input-border-map: (
	xs: 8px,
  sm: 10px,
  md: 12px,
  lg: 14px,
  xl: 16px,
);