
/* WuX-UI Components-Form-Upload [Customize] */

$form-upload-border-color: #CCCCCC;
$form-upload-border-radius: 8px;
$form-upload-padding-x: 12px;
$form-upload-padding-y: 18px;
$form-upload-hover-shadow: 0 0 6px #DDDDDD;