
/* WuX-UI Components-Jumbotron [Customize] */

$jumbotron-background: transparent;
$jumbotron-padding: 64px 16px;
$jumbotron-text-align: left;

$jumbotron-title-font-size: 52px;
$jumbotron-title-margin-y: 16px;
$jumbotron-title-text-color: #121212;

$jumbotron-title-bold-color: map.get($color-primary-map, "500");

$jumbotron-subtitle-font-size: 20px;
$jumbotron-subtitle-margin-y: 8px;

$jumbotron-button-group-margin-y: 60px;

// -------------------- Dark Mode --------------------
$jumbotron-background-dark: transparent;

$jumbotron-title-bold-color-dark: map.get($color-primary-map, "400");
$jumbotron-title-text-color-dark: #FCFCFC;

// -------------------- CSS Variables --------------------
:root {
  --jumbotron-background: #{$jumbotron-background};
  --jumbotron-padding: #{$jumbotron-padding};
  --jumbotron-text-align: #{$jumbotron-text-align};

  --jumbotron-title-font-size: #{$jumbotron-title-font-size};
  --jumbotron-title-margin-y: #{$jumbotron-title-margin-y};
  --jumbotron-title-text-color: #{$jumbotron-title-text-color};
  
  --jumbotron-title-bold-color: #{$jumbotron-title-bold-color};
  
  --jumbotron-subtitle-font-size: #{$jumbotron-subtitle-font-size};
  --jumbotron-subtitle-margin-y: #{$jumbotron-subtitle-margin-y};
  
  --jumbotron-button-group-margin-y: #{$jumbotron-button-group-margin-y};
}

@media (refers-color-scheme: dark) {
  :root {
    --jumbotron-background: #{$jumbotron-background-dark};
    
    --jumbotron-title-text-color: #{$jumbotron-title-text-color-dark};
    
    --jumbotron-title-bold-color: #{$jumbotron-title-bold-color-dark};
  }
}
[dark-mode] {
  --jumbotron-background: #{$jumbotron-background-dark};
  
  --jumbotron-title-text-color: #{$jumbotron-title-text-color-dark};
  
  --jumbotron-title-bold-color: #{$jumbotron-title-bold-color-dark};
}
