
/* WuX-UI Components-Jumbotron [Customize] */

$jumbotron-background: transparent;
$jumbotron-padding: 24px;
$jumbotron-title-font-size: 40px;
$jumbotron-title-margin-y: 12px;
$jumbotron-title-bold-color: map.get($color-primary-map, "500");
$jumbotron-subtitle-font-size: 20px;
$jumbotron-subtitle-margin-y: 8px;
$jumbotron-button-group-margin-y: 60px;