
/* WuX-UI Components-List [Customize] */

$list-border-radius: 12px;
$list-item-background: #FFFFFF;
$list-item-border-width: 2px;
$list-item-border-color: #CCCCCC;
$list-item-padding: 12px;
$list-item-hover-background: map.get($color-primary-map, "200");
$list-item-hover-text-color: func-text-color(primary, 200);
$list-item-focus-background: map.get($color-primary-map, "500");
$list-item-focus-text-color: func-text-color(primary, 500);