
/* WuX-UI Components-Progress [Customize] */

$progress-background-color: #FFFFFF;
$progress-border-width: 2px;
$progress-border-color: #CCCCCC;
$progress-border-radius: 4px;
$progress-height: 16px;
$progress-line-color: map.get($color-primary-map, "500");