
/* WuX-UI Components-Tables [Customize] */

$tables-background-color: #FFFFFF;
$tables-border: 2px solid #CCCCCC;
$tables-border-radius: 12px;
$tables-padding: 0;
$tables-shadow: none;

$tables-head-background-color: #DDDDDD;
$tables-head-text-color: #000000;
$tables-head-margin: 8px;
$tables-head-item-padding: 8px;

$tables-row-header-background-color: #EEEEEE;
$tables-row-item-border: 1px solid #CCCCCC;
$tables-row-item-padding: 8px;
$tables-row-margin: 4px;