
/* WuX-UI Components-Tab */

$tab-item-background: transparent;
$tab-item-border: none;
$tab-item-border-radius: 0;
$tab-item-padding: 8px 32px;
$tab-item-text-color: #000000;

$tab-item-focus-background: transparent;
$tab-item-focus-border-color: map.get($color-primary-map, "500");
$tab-item-focus-text-color: map.get($color-primary-map, "500");

$tab-content-padding: 0;
$tab-content-margin: 12px;