
/* WuX-UI Components-Tables [Customize] */

$tables-background-color: #FFFFFF;
$tables-border-radius: 12px;
$tables-padding: 12px;
$tables-shadow: 2px 2px 6px #DDDDDD;
$tables-head-background-color: #EEEEEE;
$tables-head-border-radius: 4px;
$tables-head-margin: 8px;
$tables-head-item-padding: 8px;
$tables-row-margin: 4px;
$tables-item-padding: 8px;