
/* WuX-UI Components-Tab */

$tab-item-background: transparent;
$tab-item-border: none;
$tab-item-border-radius: 0;
$tab-item-padding: 8px 32px;
$tab-item-text-color: #121212;

$tab-item-focus-background: transparent;
$tab-item-focus-border-color: map.get($color-primary-map, "400");
$tab-item-focus-text-color: map.get($color-primary-map, "500");

$tab-content-padding: 0;
$tab-content-margin: 12px;

// -------------------- Dark Mode --------------------
$tab-item-background-dark: transparent;
$tab-item-border-dark: none;
$tab-item-text-color-dark: #FCFCFC;

$tab-item-focus-background-dark: transparent;
$tab-item-focus-border-color-dark: map.get($color-primary-map, "500");
$tab-item-focus-text-color-dark: map.get($color-primary-map, "300");

// -------------------- CSS Variables --------------------
:root {
  --tab-item-background: #{$tab-item-background};
  --tab-item-border: #{$tab-item-border};
  --tab-item-border-radius: #{$tab-item-border-radius};
  --tab-item-padding: #{$tab-item-padding};
  --tab-item-text-color: #{$tab-item-text-color};
  
  --tab-item-focus-background: #{$tab-item-focus-background};
  --tab-item-focus-border-color: #{$tab-item-focus-border-color};
  --tab-item-focus-text-color: #{$tab-item-focus-text-color};
  
  --tab-content-padding: #{$tab-content-padding};
  --tab-content-margin: #{$tab-content-margin};
}

@media (refers-color-scheme: dark) {
  :root {
    --tab-item-background: #{$tab-item-background-dark};
    --tab-item-border: #{$tab-item-border-dark};
    --tab-item-text-color: #{$tab-item-text-color-dark};
    
    --tab-item-focus-background: #{$tab-item-focus-background-dark};
    --tab-item-focus-border-color: #{$tab-item-focus-border-color-dark};
    --tab-item-focus-text-color: #{$tab-item-focus-text-color-dark};
  }
}

[dark-mode],
body.#{$prefix}dark-mode {
  --tab-item-background: #{$tab-item-background-dark};
  --tab-item-border: #{$tab-item-border-dark};
  --tab-item-text-color: #{$tab-item-text-color-dark};
  
  --tab-item-focus-background: #{$tab-item-focus-background-dark};
  --tab-item-focus-border-color: #{$tab-item-focus-border-color-dark};
  --tab-item-focus-text-color: #{$tab-item-focus-text-color-dark};
}
