
/* WuX-UI Components-Tooltip [Customize] */

$tooltip-border-radius: 8px;
$tooltip-font-size: 12px;
$tooltip-padding: 8px;

// -------------------- Dark Mode --------------------
// This Components isn't support dark-mode :( .

// -------------------- CSS Variables --------------------
:root {
  --tooltip-border-radius: #{$tooltip-border-radius};
  --tooltip-font-size: #{$tooltip-font-size};
  --tooltip-padding: #{$tooltip-padding};
}
