
/* WuX-UI Customize-Color */

// Variable
$imported-colors: primary, secondary, success, info, warning, error, light;
$imported-degrees: 100, 200, 300, 400, 500, 600, 700, 800, 900;

@import "theme-dark";   
  @import "colors/primary";
  @import "colors/secondary";
  @import "colors/success";
  @import "colors/info";
  @import "colors/warning";
  @import "colors/error";
  @import "colors/light";

// UnSupport Internet Explorer
[bg-color] {
  // Background
  --attr-custom-bg-color: attr(bg-color color);
  background-color: var(--attr-custom-bg-color);
}

[text-color] {
  // Text-Color
  --attr-custom-text-color: attr(text-color color);
  color: var(--attr-custom-text-color);
}

// Border-Color
[border-color] {
  // All
  --attr-custom-border-color: attr(border-color color);
  border-color: var(--attr-custom-border-color);
}

[border-top-color] {
  // Top
  --attr-custom-border-top-color: attr(border-top-color color);
  border-top-color: var(--attr-custom-border-top-color);
}

[border-bottom-color] {
  // Bottom
  --attr-custom-border-bottom-color: attr(border-bottom-color color);
  border-bottom-color: var(--attr-custom-border-bottom-color);
}

[border-left-color] {
  // Left
  --attr-custom-border-left-color: attr(border-left-color color);
  border-left-color: var(--attr-custom-border-left-color);
}

[border-right-color] {
  // Right
  --attr-custom-border-right-color: attr(border-right-color color);
  border-right-color: var(--attr-custom-border-right-color);
}
