
/* WuX-UI globalStyles */

body {
	background-color: #FCFCFC;
}

// -------------------- Dark Mode --------------------
body[dark-mode],
body.#{$prefix}dark-mode {
	background-color: #121212;
	color: #FCFCFC;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #121212;
		color: #FCFCFC;
	}
}

// ---------- Fix Focus Backdrop On Webkit ----------
*,
*:before,
*:after {
  -webkit-tap-highlight-color: transparent; 
} 
