
/* WuX-UI Import-Fonts */

// Default:NotoSansSC
@import url("https://fonts.lug.ustc.edu.cn/css2?family=Inter:wght@400;700&family=Noto%20Sans%20SC:wght@400;700&display=swap");

body {
	font-family: "Inter", "Noto Sans SC", "Sans Serif", Arial;
	font-weight: 400;
	line-height: 1.2;
	font-size: 16px;
}