
/* WuX-UI Utilities-Float */

[float=left] {
  float: left !important;
}

[float=right] {
  float: right !important;
}

[float=inline-start] {
  float: inline-start !important;
}

[float=inline-end] {
  float: inline-end !important;
}

float-clear,
.#{$prefix}float-clear {
  &:before,
  &:after {
    content: '' !important;
    display: table !important;
    clear: both !important;
  }
}
