
/* WuX-UI Utilities-Float */

[float=left] {
  float: left !important;
}

[float=right] {
  float: right !important;
}

float-clear {
  &:before,
  &:after {
    content: '' !important;
    display: table !important;
    clear: both !important;
  }
}
