
/* WuX-UI Utilities-Overflow */

[overflow=auto] {
  overflow: auto;
}

[overflow=hidden] {
  overflow: hidden;
}

[overflow=visible] {
  overflow: visible;
}

[overflow=scroll] {
  overflow: scroll;
}
