
/* WuX-UI Components-Badge */

@import "../customize/components/badge";

.#{$prefix}badge {
	position: absolute;

	top: -8px;
	right: -8px;
	border-radius: 9999px;
	background-color: var(--badge-background-color);
	color: var(--badge-text-color);
	font-size: var(--badge-font-size);
	height: 12px;
	padding: var(--badge-padding);
	min-width: 12px;
	max-width: 20px;
	opacity: 95%;
	z-index: 1;
}
