
/* WuX-UI Components-Badge */

.#{$prefix}badge {
	position: absolute;

	top: -5px;
	right: -5px;
	border-radius: 9999px;
	background: red;
	color: white;
	padding: $badge-padding;
	font-size: $badge-font-size;
}