
/* WuX-UI Components-Badge */

.#{$prefix}badge {
	position: absolute;

	top: -8px;
	right: -8px;
	border-radius: 9999px;
	background: red;
	color: white;
	font-size: $badge-font-size;
	height: 12px;
	padding: $badge-padding;
	min-width: 12px;
	max-width: 20px;
	opacity: 95%;
	z-index: 1;
}