
/* WuX-UI Components-Card */

@import "../customize/components/card";

.#{$prefix}card{
	position: relative;
	box-sizing: border-box;
	  -webkit-box-sizing: border-box;
	display: block;
	overflow: hidden;
	border-radius: $card-border-radius;
	border: $card-border-width solid $card-border-color;
	box-shadow: $card-shadow;
	background-color: $card-background-color;
	color: $card-text-color;
	padding: 0;
	margin: $card-margin;
	transition: box-shadow 0.5s;
	  -webkit-transition: box-shadow 0.5s;

	.#{$prefix}card-header {
 	 	position: relative;
 	 	text-overflow: ellipsis;

  	img,
  	video {
   	  display: block;
    	width: 100%;
  	}
	}

	.#{$prefix}card-body {
		position: relative;
		padding: $card-body-padding;
		font-size: $card-body-font-size;
	}

  .#{$prefix}card-footer {
  	overflow: hidden;
  	padding: 0;
  	margin: 0;
  	float: right;

  	&::before,
  	&::after {
  		display: table;
  		clear: both;
  	}

  	&::after {
  		content: '';
  	}
	}
}

.#{$prefix}card-hover:hover {
	box-shadow: $card-hover-shadow;
}