
/* WuX-UI Components-Dropdown */

.#{$prefix}dropdown {
	box-sizing: border-box;
		-webkit-box-sizing: border-box;
	display: block;

	.#{$prefix}dropdown-menu {
		position: absolute;
		top: 100%;
		width: 160px;
		background-color: $dropdown-menu-background;
		border: $dropdown-menu-border;
		border-radius: $dropdown-menu-border-radius;
		box-shadow: $dropdown-menu-shadow;
		cursor: pointer;
		display: none;
		margin-top: 2px;
		padding: $dropdown-menu-padding-y $dropdown-menu-padding-x;
		opacity: 0;
		transition: $global-animation-speed;
		  -webkit-transition: $global-animation-speed;
		z-index: 1;

		.#{$prefix}dropdown-item {
			border-radius: $dropdown-item-border-radius;
			list-style: none;
			padding: $dropdown-item-padding-y $dropdown-item-padding-x;
			transition: 0.5s;

			&:hover {
				background-color: $dropdown-item-hover-background;
	      color: $dropdown-item-hover-text-color;
			}
		}
	}

	.#{$prefix}dropdown-trigger:focus {
		& + .#{$prefix}dropdown-menu {
			display: block;
			opacity: 1;
		}
	}
}