
/* WuX-UI Components-Dropdown */

@import "../customize/components/dropdown";

.#{$prefix}dropdown {
	box-sizing: border-box;
		-webkit-box-sizing: border-box;
	display: block;

	.#{$prefix}dropdown-menu {
		position: absolute;

		top: 100%;
		width: $dropdown-menu-width;
		background-color: $dropdown-menu-background;
		border: $dropdown-menu-border;
		border-radius: $dropdown-menu-border-radius;
		box-shadow: $dropdown-menu-shadow;
		cursor: pointer;
		margin-top: 2px;
		padding: $dropdown-menu-padding-y $dropdown-menu-padding-x;
		opacity: 0;
		transition: $global-animation-speed;
		  -webkit-transition: $global-animation-speed;
		visibility: hidden;
		z-index: 1;

		.#{$prefix}dropdown-item {
			border-radius: $dropdown-item-border-radius;
			list-style: none;
			padding: $dropdown-item-padding-y $dropdown-item-padding-x;
			transition: ease-in $global-animation-speed;
		  	-webkit-transition: ease-in $global-animation-speed;

			&:hover {
				background-color: $dropdown-item-hover-background;
	      color: $dropdown-item-hover-text-color;
			}
		}

		.#{$prefix}dropdown-menu-header {
			list-style: none;
			color: $dropdown-menu-header-text-color;
			font-size: $dropdown-menu-header-font-size;
			margin-left: $dropdown-menu-header-margin-left;
			margin-bottom: $dropdown-menu-header-margin-y;
		}

		.#{$prefix}dropdown-menu-divider {
			height: 0;
			margin: $dropdown-menu-divider-margin 0;
			overflow: hidden;
			list-style: none;
			border-top: $dropdown-menu-divider-border;
		}
	}

	.#{$prefix}dropdown-trigger:focus {
		& + .#{$prefix}dropdown-menu {
			opacity: 99%;
			transition: $global-animation-speed;
		  	-webkit-transition: $global-animation-speed;
			visibility: visible;
		}
	}

	.#{$prefix}dropdown-menu:active {
		display: block;
		opacity: 99%;
	}
}