
/* WuX-UI Components-Form-Upload */

@import "../customize/components/form-upload";

.#{$prefix}form-upload {
	position: relative;
	width: 100%;
	display: block;
	
	appearance: none;
	border: $form-upload-border;
	border-radius: $form-upload-border-radius;
	box-sizing: border-box;
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	cursor: pointer;
	padding: $form-upload-padding-y $form-upload-padding-x;
	margin: 0;
	text-align: center;
	transition: $global-animation-speed;
	  -webkit-transition: $global-animation-speed;
  vertical-align: middle;
	user-select: none;
	  -webkit-user-select: none;
	  -moz-user-select: none;
	white-space: nowrap;

	&:hover {
		box-shadow: $form-upload-hover-shadow;
	}

	&::file-selector-button {
    background: $form-upload-button-background;
    border: $form-upload-button-border;
    border-radius: $form-upload-button-border-radius;
    color: $form-upload-button-color;
    cursor: pointer;
    padding: $form-upload-button-padding;
    margin-right: 10px;
    transition: $global-animation-speed;
    	-webkit-transition: $global-animation-speed;

    &:hover {
    	background: $form-upload-button-hover-background;
    	border: $form-upload-button-hover-border;
    	border-radius: $form-upload-button-hover-border-radius;
    	color: $form-upload-button-hover-color;
    }
  }

  &::-webkit-file-upload-button {
    background: $form-upload-button-background;
    border: $form-upload-button-border;
    border-radius: $form-upload-button-border-radius;
    color: $form-upload-button-color;
    cursor: pointer;
    padding: $form-upload-button-padding;
    margin-right: 10px;
    transition: $global-animation-speed;
    	-webkit-transition: $global-animation-speed;

    &:hover {
    	background: $form-upload-button-hover-background;
    	border: $form-upload-button-hover-border;
    	border-radius: $form-upload-button-hover-border-radius;
    	color: $form-upload-button-hover-color;
    }
  }
}