
/* WuX-UI Components-Header */

@import "../customize/components/header";

.#{$prefix}header {
  background: var(--header-background);
  color: var(--header-text-color);
  margin: 0;
  padding: var(--header-padding-y) 0;
  font-size: var(--header-font-size);

  &:after {
  	content: '';
    display: table;
    clear: both;
  }

  &.#{$prefix}header-fixed {
  	background: var(--header-fixed-background);
    color: var(--header-fixed-text-color);
    box-shadow: var(--header-fixed-shadow);
  	position: fixed;
  	top: 0;
  	left: 0;
  	z-index: 99999;
    width: 100%;
  }

  .#{$prefix}header-title {
    color: var(--header-title-text-color);
    font-weight: 700;
  	float: left;
    padding-top: var(--header-option-padding-y);
    padding-bottom: var(--header-option-padding-y);
    margin-left: var(--header-padding-x); 
    
    a {
      color: var(--header-title-text-color);
      text-decoration: none;
    }
  }

  // For Small Device
  @media (max-width: 600px) {
    .#{$prefix}header-small-option-group {
      display: inline-block;
      float: right;
      margin: 0;
      margin-right: var(--header-padding-x);
      
      // Fix :focus on the phone.
      @media (pointer: fine) {
        &:focus {
          + .#{$prefix}header-option-group {
            display: block;
            position: static;

            .#{$prefix}header-option {
              display: inline-block;
              width: 100%;
            }
          }
        }
      }
      
      @media (pointer: coarse) {
        &:hover {
          + .#{$prefix}header-option-group {
            display: block;
            position: static;

            .#{$prefix}header-option {
              display: inline-block;
              width: 100%;
            }
          }
        }
      }

      + .#{$prefix}header-option-group {
        display: none;
        padding: 0;
        margin-top: 40px;
        margin-left: var(--header-padding-x);
        margin-right: var(--header-padding-x);

        .#{$prefix}header-option {
          box-sizing: border-box;
            -webkit-box-sizing: border-box;
          border-radius: var(--header-option-border-radius);
          color: var(--header-text-color);
          display: none;
          margin-top: 4px;
          padding: var(--header-option-padding-y) var(--header-option-padding-x);
          transition: var(--global-animation-speed);
            -webkit-transition: var(--global-animation-speed);
          text-decoration: none;
          white-space: nowrap;

          &:hover {
            background: var(--header-option-hover-background-color);
          }

          &:maker {
            display: none;
          }
        }
      }
    }
  }

  // Default
  @media (min-width: 600px) {
    .#{$prefix}header-small-option-group {
      display: none;
    }

    .#{$prefix}header-option-group {
      float: right;
      margin: 0;
      margin-right: var(--header-padding-x);
      display: block;
    
  	  .#{$prefix}header-option {
        box-sizing: border-box;
          -webkit-box-sizing: border-box;
        border-radius: var(--header-option-border-radius);
  		  color: var(--header-text-color);
  		  cursor: pointer;
        display: inline-block;
  		  padding: var(--header-option-padding-y) var(--header-option-padding-x);
  		  text-decoration: none;
  		  transition: var(--global-animation-speed);
          -webkit-transition: var(--global-animation-speed);
  		  white-space: nowrap;
        
        & + .#{$prefix}header-option {
          margin-left: var(--header-option-space);
        }
        
        a {
          color: inherit;
          text-decoration: none;
        }

  		  &:hover {
  			  background: var(--header-option-hover-background-color);
  		  }
  	  }
    }
  }

  .#{$prefix}header-small-option-group {
    background: transparent;
    border: none;
    color: var(--header-option-text-color);
    padding-top: var(--header-option-padding-y);
    padding-bottom: var(--header-option-padding-y);
  }

  .#{$prefix}header-option-bold {
    background-color: var(--header-option-bold-background-color) !important;
    color: var(--header-option-bold-text-color) !important;
  }
  
  .#{$prefix}search {
    padding: 8px;
    padding-inline-start: 40px;
  }
}

.#{$prefix}header-fixed-margin {
  padding-top: calc(var(--header-padding-y) * 2 + var(--header-font-size) + var(--header-option-padding-y) * 2 + 14px);
}
