
/* WuX-UI Components-Header */

.#{$prefix}header {
  background: $header-background;
  color: $header-text-color;
  margin: 0;
  padding: $header-padding-y 0;
  font-size: $header-font-size;

  &:after {
  	content: '';
    display: table;
    clear: both;
  }

  &.#{$prefix}header-fixed {
  	background: $header-fixed-background;
    color: $header-fixed-text-color;
    box-shadow: $header-fixed-shadow;
  	position: fixed;
  	top: 0;
  	left: 0;
  	z-index: 99999;
    width: 100%;
  }

  .#{$prefix}header-title {
  	float: left;
    padding-top: $header-option-padding-y;
    padding-bottom: $header-option-padding-y;
    margin-left: $header-padding-x; 
  }

  // For Small Device
  @media (max-width: 600px) {
    .#{$prefix}header-small-option-group {
      display: inline-block;
      float: right;
      margin-right: $header-padding-x;

      &:focus {
        + .#{$prefix}header-option-group {
          display: block;
          position: static;

          .#{$prefix}header-option {
            display: inline-block;
            width: 100%;
          }
        }
      }

      + .#{$prefix}header-option-group {
        display: none;
        margin-top: 36px;
        margin-left: $header-padding-x;
        margin-right: $header-padding-x;

        .#{$prefix}header-option {
          box-sizing: border-box;
            -webkit-box-sizing: border-box;
          border-radius: $header-option-border-radius;
          color: $header-text-color;
          display: none;
          padding: $header-option-padding-y $header-option-padding-x;
          transition: $global-animation-speed;
            -webkit-transition: $global-animation-speed;
          text-decoration: none;
          white-space: nowrap;

          &:hover {
            background: rgb(240,240,240);
          }
        }
      }
    }
  }

  // Default
  @media (min-width: 600px) {
    .#{$prefix}header-small-option-group {
      display: none;
    }

    .#{$prefix}header-option-group {
      float: right;
      margin-right: $header-padding-x;
      display: block !important;
    
  	  .#{$prefix}header-option {
        box-sizing: border-box;
          -webkit-box-sizing: border-box;
        border-radius: $header-option-border-radius;
  		  color: $header-text-color;
        display: inline-block !important;
  		  padding: $header-option-padding-y $header-option-padding-x;
  		  text-decoration: none;
  		  transition: $global-animation-speed;
          -webkit-transition: $global-animation-speed;
  		  white-space: nowrap;

        + #{$prefix}header-option {
  	      margin-left: $header-option-space;
        }

  		  &:hover {
  			  background: rgb(240,240,240);
  		  }
  	  }
    }
  }

  .#{$prefix}header-small-option-group {
    background: transparent;
    border: none;
    padding-top: $header-option-padding-y;
    padding-bottom: $header-option-padding-y;
  }

  .#{$prefix}header-option-bold {
    background-color: map.get($color-primary-map, "#{$header-option-bold-background-color-degree}") !important;
    color: func-text-color(primary, $header-option-bold-background-color-degree) !important;
  }
}

.#{$prefix}header-fixed-margin {
  margin-top: $header-padding-y * 2 + $header-font-size + $header-option-padding-y * 2;
}