
/* WuX-UI Components-List */

@import "../customize/components/list";

.#{$prefix}list-group {
	border: var(--list-border);
	border-radius: var(--list-border-radius);
	border-collapse: collapse;
	padding: 0;

	.#{$prefix}list-item {
		background-color: var(--list-item-background);
	  border: var(--list-item-border-width) solid var(--list-item-border-color);
	  border-collapse: collapse;
	  border-radius: none;
	  box-sizing: border-box;
	    -webkit-box-sizing: border-box;
	  color: var(--list-text-color);
	  display: block;
	  list-style: none;
	  margin: 0 !important;
	  margin-top: calc( 0 - (var(--list-item-border-width) + 1));
	  padding: $list-item-padding;
	  width: 100%;

	  transition: 0.5s;
	  	-webkit-transition: 0.5s;

	  + .#{$prefix}list-item {
	  	border-top: none;
	  }

	  &:first-child {
	  	border-top-right-radius: var(--list-border-radius);
	  	border-top-left-radius: var(--list-border-radius);
	  }

	  &:last-child {
	  	border-bottom-right-radius: var(--list-border-radius);
	  	border-bottom-left-radius: var(--list-border-radius);
	  }
  }

  .#{$prefix}list-item-action {
  	cursor: pointer;
  	
  	&:hover {
  	  background-color: var(--list-item-hover-background);
  	  border-color: var(--list-item-hover-background);
  	  color: var(--list-item-hover-text-color);
    }

    &:active,
    &.#{$prefix}list-item-focus {
    	background-color: var(--list-item-focus-background);
    	border-color: var(--list-item-focus-background);
  	  color: var(--list-item-focus-text-color);
    }
  }
}
