
/* WuX-UI Components-Progress */

@import "../customize/components/progress";

.#{$prefix}progress {
	appearance: none;
	  -webkit-appearance: none;
    -moz-appearance: none;

  background-color: var(--progress-background-color);
  border: var(--progress-border-width) solid var(--progress-border-color);
  border-radius: var(--progress-border-radius);
  display: inline-block;
  overflow: hidden;
  height: var(--progress-height);
  transition: ease var(--global-animation-speed);
    -webkit-transition: ease var(--global-animation-speed);
  width: 100%;

  &::-webkit-progress-bar {
    border-radius: var(--progress-border-radius);
    background: none;
  }

  &[value]::-webkit-progress-value {
    background-color: var(--progress-line-color);
  }
  
  &::-moz-progress-bar {
    background-color: var(--progress-line-color);
  }
}
