
/* WuX-UI Components-Tab */

@import "../customize/components/tab";

.#{$prefix}tab {
	box-sizing: border-box;
		-webkit-box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	width: 100%;

	label.#{$prefix}tab-item {
		background-color: var(--tab-item-background);
		border-radius: var(--tab-item-border-radius);
		border-bottom: var(--tab-item-border);
		color: var(--tab-item-text-color);
		cursor: pointer;
		display: inline-block;
		padding: var(--tab-item-padding);
		position: relative;
		transition: var(--global-animation-speed);
			-webkit-transition: var(--global-animation-speed);

		user-select: none;
			-webkit-user-select: none;
			-moz-user-select: none;

		&:after {
			content: '';
      position: absolute;
      z-index: -1;
      top: 100%;
      left: 80%;
      right: 80%;
      bottom: 0;
      transition: ease var(--global-animation-speed);
      	-webkit-transition: ease var(--global-animation-speed);
      background-color: var(--tab-item-focus-border-color);
		}
	}

	.#{$prefix}tab-content {
		display: none;
		padding: var(--tab-content-padding);
		margin-top: var(--tab-content-margin);
		order: 1;
		opacity: 0%;
		width: 100%;
	}

	input[type=radio].#{$prefix}tab-item {
		display: none;

		&:checked {
			& + label.#{$prefix}tab-item {
				background-color: var(--tab-item-focus-background);
				color: var(--tab-item-focus-text-color);

				&:after {
					border-radius: 8px;
					top: 92%;
        	left: 5%;	
        	right: 5%;
        	bottom: 0%;
				}

				& + .#{$prefix}tab-content {
					display: block;
					opacity: 100%;
				}
			}
		} 
	}
}
