
/* WuX-UI Components-Tab */

@import "../customize/components/tab";

.#{$prefix}tab {
	box-sizing: border-box;
		-webkit-box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	width: 100%;

	label.#{$prefix}tab-item {
		background-color: $tab-item-background;
		border-radius: $tab-item-border-radius;
		border-bottom: $tab-item-border;
		color: $tab-item-text-color;
		cursor: pointer;
		display: inline-block;
		padding: $tab-item-padding;
		position: relative;
		transition: $global-animation-speed;
			-webkit-transition: $global-animation-speed;

		&:after {
			content: '';
      position: absolute;
      z-index: -1;
      top: 95%;
      left: 50%;
      right: 50%;
      bottom: 0;
      transition: ease $global-animation-speed;
      	-webkit-transition: ease $global-animation-speed;
      background-color: $tab-item-focus-border-color;
		}
	}

	.#{$prefix}tab-content {
		display: none;
		padding: $tab-content-padding;
		margin-top: $tab-content-margin;
		order: 1;
		opacity: 0%;
		width: 100%;
	}

	input[type=radio].#{$prefix}tab-item {
		display: none;

		&:checked {
			& + label.#{$prefix}tab-item {
				background-color: $tab-item-focus-background;
				//border-bottom: $tab-item-focus-border;
				color: $tab-item-focus-text-color;

				&:after {
        	left: 0%;	
        	right: 0%;
				}

				& + .#{$prefix}tab-content {
					display: block;
					opacity: 100%;
				}
			}
		} 
	}
}