
/* WuX-UI Components-Tooltip */

@import "../customize/components/tooltip";

.#{$prefix}tooltip {
	.#{$prefix}tooltip-item {
	  position: absolute;

		border-radius: $tooltip-border-radius;
		background-color: #000000;
		backdrop-filter: blur(8px);
		font-size: $tooltip-font-size;
		opacity: 0;
		padding: $tooltip-padding;
    visibility: hidden;
    transition: $global-animation-speed;
      -webkit-transition: $global-animation-speed;
    z-index: 1;
	}

	&:hover {
	  .#{$prefix}tooltip-item {
	  	opacity: 60%;
		  visibility: visible;
	  }
	}

	.#{$prefix}tooltip-item-top {
		bottom: 110%;
		left: 0;
	}

	.#{$prefix}tooltip-item-bottom {
		top: 110%;
		left: 0;
	}

	.#{$prefix}tooltip-item-right {
		bottom: 50%;
		left: 105%;
	}

	.#{$prefix}tooltip-item-left {
		bottom: 50%;
		right: 105%;
	}
}