
/* WuX-UI Customize-Color-Info */

$color-info: rgb(15,200,210);
$color-info-map: (
	"100": func-tint-color($color-info, 80%),
	"200": func-tint-color($color-info, 60%),
	"300": func-tint-color($color-info, 40%),
	"400": func-tint-color($color-info, 20%),
	"500": $color-info,
	"600": func-shade-color($color-info, 20%),
	"700": func-shade-color($color-info, 40%),
	"800": func-shade-color($color-info, 60%),
	"900": func-shade-color($color-info, 80%)
);

// -------------------- CSS Variables --------------------

:root {
	--color-info-100: #{map.get($color-info-map, "100")};
	--color-info-200: #{map.get($color-info-map, "200")};
	--color-info-300: #{map.get($color-info-map, "300")};
	--color-info-400: #{map.get($color-info-map, "400")};
	--color-info-500: #{map.get($color-info-map, "500")};
	--color-info-600: #{map.get($color-info-map, "600")};
	--color-info-700: #{map.get($color-info-map, "700")};
	--color-info-800: #{map.get($color-info-map, "800")};
	--color-info-900: #{map.get($color-info-map, "900")};
}
