
/* WuX-UI Layout-Grid */

.#{$prefix}row,
[class*="#{$prefix}row-"] {
  margin-right: -8px;
  margin-left: -8px;
}

.#{$prefix}row::after,
[class*="#{$prefix}row-"]::after {
  display: table;
  clear: both;
  content: '';
}

[class*="#{$prefix}col-xs-"],
[class*="#{$prefix}col-sm-"],
[class*="#{$prefix}col-md-"],
[class*="#{$prefix}col-lg-"],
[class*="#{$prefix}col-xl-"],
.#{$prefix}col {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 1px;
  padding-right: 8px;
  padding-left: 8px;
}

@each $size-name in $grid-size-name {
  @media (min-width: map.get($grid-size-map, #{$size-name})) {
    @for $i from 1 through $grid-col-count {
      // Col
    	.#{$prefix}col-#{$size-name}-#{$i} {
        float: left;
        width: map.get($grid-col-map, "#{$i}");
    	}
      // Row
      .#{$prefix}row-#{$size-name}-#{$i} .#{$prefix}col{
        float: left;
        width: map.get($grid-row-map, "#{$i}");
      }
    };
  }
};
